# Temporary files
.#*
*#
*~
*.swp

# Emacs
emacs/.emacs.d/.cache
emacs/.emacs.d/.lsp-session-v1
emacs/.emacs.d/anaconda-mode
emacs/.emacs.d/bookmarks
emacs/.emacs.d/elpa
emacs/.emacs.d/elpy
emacs/.emacs.d/eshell
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/recentf
emacs/.emacs.d/straight/build
emacs/.emacs.d/straight/build-cache.el
emacs/.emacs.d/straight/modified
emacs/.emacs.d/straight/repos
emacs/.emacs.d/transient
emacs/.emacs.d/var

# Spacemacs
.spacemacs.env

# Sublime Text 3
sublime3/Sublime Text 3/Backup
sublime3/Sublime Text 3/Cache
sublime3/Sublime Text 3/Index
sublime3/Sublime Text 3/Local
sublime3/Sublime Text 3/Packages

# Tmux
/tmux/.tmux/plugins
/tmux/.tmux/resurrect
!/tmux/.tmux/plugins/tpm

# Vim
/vim/.vim/.netrwhist
/vim/.vim/plugged
/vim/.vim/tmp
/vim/.vim/undo
!/vim/.vim/tmp/.keep
!/vim/.vim/undo/.keep

# Visual Studio Code
/vscode
!/vscode/Library/Application Support/Code/User/settings.json
