[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "doom/.config/emacs"]
	path = doom/.config/emacs
	url = https://github.com/doomemacs/doomemacs.git
