# Temporary files
.#*
*#
*~
*.swp

# Atom
atom/.atom/.apm
atom/.atom/.node-gyp
atom/.atom/blob-store
atom/.atom/compile-cache
atom/.atom/github.cson
atom/.atom/nohup.out
atom/.atom/packages
atom/.atom/recovery
atom/.atom/storage

# Emacs
*.ec
*.elc
emacs/.emacs.d/.lsp-session-*
emacs/.emacs.d/elpa
emacs/.emacs.d/network-security.data
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/transient

# Spacemacs
.spacemacs.env

# Sublime Text 3
sublime3/Sublime Text 3/Backup
sublime3/Sublime Text 3/Cache
sublime3/Sublime Text 3/Index
sublime3/Sublime Text 3/Local
sublime3/Sublime Text 3/Packages

# Vim
/vim/.vim/plugged
/vim/.vim/tmp
/vim/.vim/undo
!/vim/.vim/tmp/.keep
!/vim/.vim/undo/.keep

# Visual Studio Code
/vscode
!/vscode/Library/Application Support/Code/User/settings.json
