# Temporary files
.#*
*#
*~

# Atom
atom/.atom/.apm
atom/.atom/.node-gyp
atom/.atom/blob-store
atom/.atom/compile-cache
atom/.atom/github.cson
atom/.atom/nohup.out
atom/.atom/packages
atom/.atom/recovery
atom/.atom/storage

# Emacs
*.ec
*.elc
emacs/.emacs.d/elpa
emacs/.emacs.d/projectile-bookmarks.eld

# Sublime Text 3
sublime3/Sublime Text 3/Backup
sublime3/Sublime Text 3/Cache
sublime3/Sublime Text 3/Index
sublime3/Sublime Text 3/Local
sublime3/Sublime Text 3/Packages

# Visual Studio Code
/vscode/Library/Application Support/Code/User/workspaceStorage
