"*":
  "atom-ide-ui":
    use: {}
  "atom-package-deps":
    ignored: [
      "linter-eslint"
      "linter-elm-make"
      "linter-elixirc"
    ]
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "792e8bd2-c9a9-8453-9abd-b5849b617f4d"
  "go-plus":
    disabledBundledPackages: [
      "linter"
    ]
    panel:
      currentHeight: "28.249336870026525vh"
  "linter-eslint": {}
  "linter-ui-default":
    showPanel: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
  "vim-mode-plus":
    incrementalSearch: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
