packages: [
  "autocomplete-elixir"
  "autocomplete-paths"
  "elm-format"
  "git-plus"
  "jumpy"
  "language-diff"
  "language-elixir"
  "language-elm"
  "language-haml"
  "linter"
  "linter-elixirc"
  "linter-elm-make"
  "linter-eslint"
  "linter-flow"
  "package-sync"
  "react"
  "sort-lines"
  "vim-mode"
  "vim-surround"
]
