packages: [
  "atom-ide-ui"
  "autocomplete-elixir"
  "elm-format"
  "file-icons"
  "ide-csharp"
  "ide-flowtype"
  "ide-java"
  "ide-typescript"
  "language-babel"
  "language-dotenv"
  "language-elixir"
  "language-elm"
  "language-graphql"
  "language-haml"
  "linter-elixirc"
  "linter-elm-make"
  "linter-eslint"
  "linter-ruby"
  "package-sync"
  "prettier-atom"
  "sort-lines"
  "vim-mode-plus"
]
